---

---

<div class="mx-auto max-w-screen-xl px-5">
  <div class="relative container-grid overflow-hidden">
    <div class="absolute inset-0 -z-10 pointer-events-none" aria-hidden="true">
      <div class="grid-line line-0 absolute left-0 h-full border-l border-black/[0.05] dark:border-white/[0.05] transition-all duration-300"></div>
      <div class="grid-line line-1 absolute left-[12.5%] h-full border-l border-black/[0.05] dark:border-white/[0.05] transition-all duration-300 hidden md:block"></div>
      <div class="grid-line line-2 absolute left-[25%] h-full border-l border-black/[0.05] dark:border-white/[0.05] transition-all duration-300"></div>
      <div class="grid-line line-3 absolute left-[37.5%] h-full border-l border-black/[0.05] dark:border-white/[0.05] transition-all duration-300 hidden md:block"></div>
      <div class="grid-line line-4 absolute left-[50%] h-full border-l border-black/[0.05] dark:border-white/[0.05] transition-all duration-300"></div>
      <div class="grid-line line-5 absolute left-[62.5%] h-full border-l border-black/[0.05] dark:border-white/[0.05] transition-all duration-300 hidden md:block"></div>
      <div class="grid-line line-6 absolute left-[75%] h-full border-l border-black/[0.05] dark:border-white/[0.05] transition-all duration-300"></div>
      <div class="grid-line line-7 absolute left-[87.5%] h-full border-l border-black/[0.05] dark:border-white/[0.05] transition-all duration-300 hidden md:block"></div>
      <div class="grid-line line-8 absolute right-0 h-full border-r border-black/[0.05] dark:border-white/[0.05] transition-all duration-300"></div>
    </div>
    <slot />
  </div>
</div>
