---
import { getCollection } from "astro:content";
import PageLayout from "@layouts/PageLayout.astro";
import Container from "@components/Container.astro";
import BackToPrev from "@components/BackToPrev.astro";
import { PROJECTS } from "@consts";
import ArrowCardThumbnail from "@components/ArrowCardThumbnail.astro";

const projects = (await getCollection("projects"))
  .filter((project) => !project.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());
---

<PageLayout title={PROJECTS.TITLE} description={PROJECTS.DESCRIPTION}>
  <Container>
    <div class="grid grid-cols-1 md:grid-cols-8 gap-x-0 pt-8 md:pt-16">
      <aside class="md:col-span-2 flex flex-col gap-8">
        <div class="animate">
          <BackToPrev href="/"> Back to home </BackToPrev>
        </div>
        <div class="animate pl-2">
          <h1 class="font-semibold text-black dark:text-white text-3xl">
            Projects
          </h1>
        </div>
        <p class="animate mt-4 text-sm opacity-60 font-serif pl-2">
          A collection of projects I've worked on, ranging from full-scale product redesigns to experimental prototypes.
        </p>
      </aside>

      <div class="md:col-start-4 md:col-span-5 pb-16">
        <ul class="flex flex-col gap-8 m-0 p-0 list-none">
          {
            projects.map((project) => (
              <li class="animate">
                <ArrowCardThumbnail entry={project} />
              </li>
            ))
          }
        </ul>
      </div>
    </div>
  </Container>
</PageLayout>
